.images figure {
    margin: 0;
    float: left;
    padding: 0;
    overflow: hidden;
    text-align: center;
    border: 0.025rem solid rgb(11, 136, 238);
    background-color: black;
}
.images img {
    float: left;
    width: 100px;
    height: 100px;
    object-fit: cover;
}